form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #304562;
}

th {
    text-align: left;
    background-color: #1f2d40;
}


th,
td {
    padding: 1rem 1rem;
    border-bottom: 1px solid #304562;
}

a {
    color: white;
}