<div class="card">

    <form [formGroup]="form">
        <div class="field grid p-fluid">
            <label htmlFor="ip" class="col-12 mb-2 md:col-4 md:mb-0">Manual Addition</label>
            <div class="col-12 md:col-8">
                <p-inputGroup>
                    <input pInputText id="manualAddIp" formControlName="manualAddIp" type="text" />
                    <button pButton  [disabled]="form.invalid" (click)="add()">Add</button>
                </p-inputGroup>

            </div>
        </div>

    </form>
</div>
<div class="flex gap-3 justify-content-between">
    <div class="flex gap-1 sm:gap-3 text-sm md:text-base">
        <button pButton (click)="scanNetwork()" [disabled]="scanning">{{scanning ? 'Scanning...' : 'Automatic Scan'}}</button>
        <button pButton severity="secondary" (click)="refreshList()" [disabled]="scanning">Refresh List ({{refreshIntervalTime}})</button>
    </div>
</div>

<div class="table-container">
    <table cellspacing="0" cellpadding="0" class="text-sm md:text-base">
        <tr>
            <th>IP</th>
            <th>Hash Rate</th>
            <th>Uptime</th>
            <th>Accepted</th>
            <th>Power</th>
            <th>Temp</th>
            <th>Best Diff</th>
            <th>Version</th>
            <th>Edit</th>
            <th>Restart</th>
            <th>Remove</th>
        </tr>
        <ng-container *ngFor="let axe of swarm">
            <tr>
                <td>
                    <a class="text-primary" [href]="'http://'+axe.IP" target="_blank">{{axe.IP}}</a>
                    <div class="text-xs">{{axe.hostname}}</div>
                </td>
                <td>{{axe.hashRate * 1000000000 | hashSuffix}}</td>
                <td>{{axe.uptimeSeconds | dateAgo}}</td>
                <td>{{axe.sharesAccepted | number: '1.0-0'}}</td>
                <td>{{axe.power | number: '1.1-1'}} <small>W</small> </td>
                <td>{{axe.temp | number: '1.0-1'}}°<small>C</small></td>
                <td>{{axe.bestDiff}}</td>
                <td>{{axe.version}}</td>
             <td><p-button icon="pi pi-pencil" pp-button (click)="edit(axe)"></p-button></td>
                <td><p-button icon="pi pi-sync" pp-button severity="danger" (click)="restart(axe)"></p-button></td>
                <td><p-button icon="pi pi-trash" pp-button severity="secondary" (click)="remove(axe)"></p-button></td>
            </tr>
        </ng-container>
    </table>
</div>

<div class="modal-backdrop" *ngIf="showEdit" (click)="showEdit = false"></div>
<div class="modal card" *ngIf="showEdit">
    <div class="close" (click)="showEdit = false">&#10006;</div>
    <h1>{{selectedAxeOs.IP}}</h1>
    <app-edit [uri]="'http://' + selectedAxeOs.IP"></app-edit>
</div>