.content {
    margin-top: 150px;

    padding-left: 10vw;
    padding-right: 10vw;

}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1.5rem;
}

table>tr>td {

    &:first-child {
        text-align: right;
        font-weight: bold;
    }

    &:nth-child(2) {
        padding-left: 10px;
    }

}

@media only screen and (max-width:900px) {
    .container {
        grid-template-columns: 1fr;
    }
}