.body {
    margin-top: 100px;

    padding-left: 5vw;
    padding-right: 5vw;

}

@media only screen and (max-width:900px) {
    .body {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.tab-container {
    display: flex;
    margin-top: 32px;

}

.tab {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    flex-direction: column;


    cursor: pointer;

    border-top: 1px solid #304562;
    border-left: 1px solid #304562;
    border-right: 1px solid #304562;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 10px;
    text-align: center;
    font-size: 25px;

    &:not(.active) {
        border-bottom: 1px solid #304562;
        background-color: #1f2d40;
    }


}

.content {
    padding-top: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
    border-left: 1px solid #304562;
    border-bottom: 1px solid #304562;
    border-right: 1px solid #304562;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-bottom: 26px;
}

@media only screen and (max-width:900px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}