<ng-container *ngIf="form != null">
    <form [formGroup]="form">
        <!-- Pool Settings Card -->
        <div>
            <h4 class="text-primary">Primary Pool Settings</h4>
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label htmlFor="stratumURL">Stratum Host</label>
                        <input pInputText id="stratumURL" type="text" formControlName="stratumURL"
                               [ngClass]="{'ng-invalid ng-dirty': form.get('stratumURL')?.invalid && form.get('stratumURL')?.touched}"/>
                        <small>Do not include 'stratum+tcp://' or port.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="stratumPort">Stratum Port</label>
                        <input pInputText id="stratumPort" type="number" formControlName="stratumPort"/>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label htmlFor="stratumUser">Stratum User</label>
                        <input pInputText id="stratumUser" type="text" formControlName="stratumUser"/>
                        <small>Typically &lt;your BTC address&gt;.&lt;worker name&gt;</small>
                    </div>
                    <div class="field">
                        <label htmlFor="stratumPassword">Stratum Password</label>
                        <div class="p-input-icon-right">
                            <i *ngIf="form.get('stratumPassword')?.dirty" class="pi"
                               [ngClass]="{'pi-eye': !showStratumPassword, 'pi-eye-slash': showStratumPassword}"
                               (click)="toggleStratumPasswordVisibility()"></i>
                            <input pInputText id="stratumPassword" 
                                   [type]="showStratumPassword ? 'text' : 'password'"
                                   formControlName="stratumPassword"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Fallback Pool Settings -->
        <div class="mt-3">
            <h4 class="text-primary">Fallback Pool Settings</h4>
            <div class="grid">
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label htmlFor="fallbackStratumURL">Fallback Stratum Host</label>
                        <input pInputText id="fallbackStratumURL" type="text" formControlName="fallbackStratumURL"/>
                        <small>Do not include 'stratum+tcp://' or port.</small>
                    </div>
                    <div class="field">
                        <label htmlFor="fallbackStratumPort">Fallback Stratum Port</label>
                        <input pInputText id="fallbackStratumPort" type="number" formControlName="fallbackStratumPort"/>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="field">
                        <label htmlFor="fallbackStratumUser">Fallback Stratum User</label>
                        <input pInputText id="fallbackStratumUser" type="text" formControlName="fallbackStratumUser"/>
                        <small>Typically &lt;your BTC address&gt;.&lt;worker name&gt;</small>
                    </div>
                    <div class="field">
                        <label htmlFor="fallbackStratumPassword">Fallback Stratum Password</label>
                        <div class="p-input-icon-right">
                            <i *ngIf="form.get('fallbackStratumPassword')?.dirty" class="pi"
                               [ngClass]="{'pi-eye': !showFallbackStratumPassword, 'pi-eye-slash': showFallbackStratumPassword}"
                               (click)="toggleFallbackStratumPasswordVisibility()"></i>
                            <input pInputText id="fallbackStratumPassword"
                                   [type]="showFallbackStratumPassword ? 'text' : 'password'"
                                   formControlName="fallbackStratumPassword"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Hardware Settings -->
        <div class="mt-3">
            <h4 class="text-primary">Hardware Configuration</h4>
            <div class="grid">
                <ng-container *ngIf="!devToolsOpen && [eASICModel.BM1366, eASICModel.BM1368, eASICModel.BM1370, eASICModel.BM1397].includes(ASICModel)">
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="frequency">Frequency</label>
                            <p-dropdown [options]="getDropdownFrequency()" optionLabel="name" optionValue="value"
                                      formControlName="frequency" styleClass="w-full"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="coreVoltage">Core Voltage</label>
                            <p-dropdown [options]="getCoreVoltage()" optionLabel="name" optionValue="value"
                                      formControlName="coreVoltage" styleClass="w-full"></p-dropdown>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="devToolsOpen === true">
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="frequency">Frequency</label>
                            <input pInputText id="frequency" type="number" formControlName="frequency"/>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label htmlFor="coreVoltage">Core Voltage</label>
                            <input pInputText id="coreVoltage" type="number" formControlName="coreVoltage"/>
                        </div>
                    </div>
                </ng-container>
            </div>



            <div class="grid mt-3">
                <div class="col-12 sm:col-6 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="flipscreen" formControlName="flipscreen" [binary]="true"></p-checkbox>
                        <label for="flipscreen">Flip Screen</label>
                    </div>
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="invertfanpolarity" formControlName="invertfanpolarity" [binary]="true"></p-checkbox>
                        <label for="invertfanpolarity">Invert Fan Polarity</label>
                    </div>
                </div>
                
                <div class="col-12 sm:col-6 md:col-4">
                    <div class="field-checkbox">
                        <p-checkbox name="autofanspeed" formControlName="autofanspeed" [binary]="true"></p-checkbox>
                        <label for="autofanspeed">Automatic Fan Control</label>
                    </div>
                </div>

                <div class="col-12" *ngIf="!form.controls['autofanspeed'].value">
                    <div class="field">
                        <label>Fan Speed {{form.controls['fanspeed'].value}}%
                            <span class="warning" *ngIf="form.controls['fanspeed'].value < 33">Danger: Could Cause Overheating</span>
                            <span class="note" *ngIf="form.controls['fanspeed'].value == 100">S19 Simulator</span>
                        </label>
                        <p-slider formControlName="fanspeed"></p-slider>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <!-- Overheat Mode Warning -->
        <div class="mt-3 warning-card" *ngIf="form.get('overheat_mode')?.value === 1">
            <div class="text-center">
                <button pButton type="button" label="Disable Overheat Mode"
                        class="p-button-danger w-full py-3"
                        (click)="disableOverheatMode()">
                </button>
                <small class="block mt-1">
                    Make sure to reset Frequency and Voltage before clicking this button.
                </small>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="mt-3">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <button pButton [disabled]="!form.dirty || form.invalid" 
                            (click)="updateSystem()"
                            label="Save Changes"
                            class="w-full"></button>
                    <small class="block mt-1">You must restart this device after saving for changes to take effect.</small>
                </div>
                <div class="col-12 md:col-6">
                    <button pButton [disabled]="!savedChanges" 
                            (click)="restart()"
                            label="Restart Device"
                            class="w-full p-button-secondary"></button>
                </div>
            </div>
        </div>
    </form>
</ng-container>
