input:not([type="checkbox"]) {
    min-width: 250px;
    max-width: 90%;
}

select {
    min-width: 268px;
    max-width: 90%;
}

.restart {
    margin-bottom: 1.5rem;

}

@media only screen and (min-width:900px) {

    input:not([type="checkbox"]) {
        min-width: 500px
    }

    select {
        min-width: 518px
    }
}