# Configuration files
sdkconfig
sdkconfig.old

# Production folder
build/*
!build/config
build/config/*
!build/config/kconfig_menus.json
!build/config/sdkconfig.json

# HTML documentation
html_doc/

components/components/*
