# Configuration files
sdkconfig
sdkconfig.old
dependencies.lock

# User specific VSCode
**/.vscode/*

# Production folder
build/
**/build/
!build/config
build/config/*
!build/config/kconfig_menus.json
!build/config/sdkconfig.json

# Test folder
test/build/*

# HTML documentation
html_doc/

components/components/*
