# Configuration files
sdkconfig
sdkconfig.old
dependencies.lock

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Production folder
build/
**/build/
!build/config
build/config/*
!build/config/kconfig_menus.json
!build/config/sdkconfig.json

# Test folder
test/build/*

# HTML documentation
html_doc/

components/components/*
config.bin
config.cvs
managed_components/*
