key,type,encoding,value
main,namespace,,
wifissid,data,string,myssid
wifipass,data,string,mypass
stratumurl,data,string,solo.ckpool.org
stratumport,data,u16,3333
stratumuser,data,string,1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa.bitaxe
stratumpass,data,string,x
