menu "Example Configuration"

    config I2C_MASTER_SCL
        int "SCL GPIO Num"
        default 6 if IDF_TARGET_ESP32C3
        default 48 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master clock line.

    config I2C_MASTER_SDA
        int "SDA GPIO Num"
        default 5 if IDF_TARGET_ESP32C3
        default 47 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master data line.

    config EXAMPLE_STRATUM_URL
        string "Stratum Address"
        default "solo.ckpool.org"
        help
            The example will connect to this Stratum pool address.

    config EXAMPLE_STRATUM_PORT
        int "Stratum Port"
        range 0 65535
        default 3333
        help
            The stratum server port to connect to.

    config EXAMPLE_STRATUM_USER
        string "Stratum username"
        default ""
        help
            Stratum user to use with pool

    config EXAMPLE_STRATUM_PW
        string "Stratum password"
        default "x"
        help
            Stratum password to use with pool

    choice EXAMPLE_SOCKET_IP_INPUT
        prompt "Socket example source"
        default EXAMPLE_SOCKET_IP_INPUT_STRING
        help
            Selects the input source of the IP used in the example.

        config EXAMPLE_SOCKET_IP_INPUT_STRING
            bool "From string"

        config EXAMPLE_SOCKET_IP_INPUT_STDIN
            bool "From stdin"
    endchoice

endmenu
