#logs {
    height: 500px;
    font-family: monospace;
    border: 1px solid #304562;
    overflow-y: scroll;
    overflow-x: hidden;

    >div {
        max-width: 100%;
        line-break: anywhere;
        font-family: 'Courier New', Courier, monospace;
    }
}

.ansi-red { color: #ff0000; }
.ansi-green { color: #00ff00; }
.ansi-yellow { color: #ffff00; }
.ansi-blue { color: #0000ff; }
.ansi-magenta { color: #ff00ff; }
.ansi-cyan { color: #00ffff; }
.ansi-white { color: #ffffff; }
