#loading {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999999999999999999;
}

#loading-text {
    text-align: center;
    margin-top: 40vh;
    font-size: 20pt;
}