<ng-template #loading>
    <h4>Loading...</h4>
</ng-template>
<ng-container *ngIf="info$ | async as info; else loading">
    <!-- Temp warning alert -->
    <p-message *ngIf="info.overheat_mode" 
        severity="error" 
        styleClass="w-full mb-4 py-4 border-round-xl"
        text="Bitaxe has overheated - See settings">
    </p-message>

    <div class="grid" *ngIf="info$ | async as info; else loading">
        <div class="col-12">
            <div class="card">
                <div class="grid mb-4">
                    <div class="col-12 md:col-6 xl:col-3">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Hash Rate</span>
                                    <div class="text-900 font-medium text-xl">{{info.hashRate * 1000000000 | hashSuffix}}
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-bolt text-orange-500 text-xl"></i>
                                </div>
                            </div>
                            <ng-container *ngIf="expectedHashRate$ | async as expectedHashRate">
                                <span class="text-green-500 font-medium">{{expectedHashRate * 1000000000 | hashSuffix}}</span>
                                <span class="text-500"> expected</span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Shares</span>
                                    <div class="text-900 font-medium text-xl">{{info.sharesAccepted | number: '1.0-0'}}</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-send text-blue-500 text-xl"></i>
                                </div>
                            </div>
                            <span class="text-red-500 font-medium">{{info.sharesRejected | number: '1.0-0'}} </span>
                            <span class="text-500">rejected</span>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Efficiency</span>
                                    <div class="text-900 font-medium text-xl">
                                        <td>{{info.power / (info.hashRate/1000) | number: '1.2-2'}} <small>J/TH</small>
                                        </td>
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-thumbs-up text-orange-500 text-xl"></i>
                                </div>
                            </div>
                            <ng-container *ngIf="expectedHashRate$ | async as expectedHashRate">
                                <span class="text-green-500 font-medium">{{info.power / (expectedHashRate/1000) | number: '1.2-2'}} <small>J/TH</small>
                                </span>
                                <span class="text-500"> expected</span>
                            </ng-container>
                            <!-- <span class="text-green-500 font-medium">%52+ </span>
                            <span class="text-500">since last week</span> -->
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3">
                        <div class="card mb-0">
                            <div class="flex justify-content-between mb-3">
                                <div>
                                    <span class="block text-500 font-medium mb-3">Best Difficulty</span>
                                    <div class="text-900 font-medium text-xl">{{info.bestDiff}}
                                        <span class="text-500">all-time best</span>
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-yellow-100 border-round"
                                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                    <i class="pi pi-star-fill text-yellow-500 text-xl"></i>
                                </div>
                            </div>
                            <span class="text-900 font-medium">{{info.bestSessionDiff}} </span>
                            <span class="text-500">since system boot</span>
                            <!-- <span class="text-green-500 font-medium">520 </span>
                            <span class="text-500">newly registered</span> -->
                        </div>
                    </div>

                </div>


                <p-chart [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>
        <div class="col-12 lg:col-12 xl:col-6">
            <div class="card">
                <h5>Power</h5>
                <div class="grid text-center">
                    <div class="col-6 sm:col-4">
                        <p-knob [min]="3" [max]="maxPower" [readonly]="true" [(ngModel)]="info.power"
                            valueTemplate="{value}W"></p-knob>
                        Power
                    </div>

                    <div class="col-6 sm:col-4">
                        <p-knob [min]="4.5" [max]="5.5" [readonly]="true" [(ngModel)]="info.voltage"
                            valueTemplate="{value}V"
                            [valueColor]="info.voltage < 4.8 ? '#ff0000' : 'var(--primary-color, Black)'"></p-knob>
                        Input Voltage
                        <span class="danger" *ngIf="info.voltage < 4.8">&nbsp; Danger: Low voltage</span>
                    </div>

                    <div class="col-6 sm:col-4">
                        <p-knob [min]="0.9" [max]="1.8" [readonly]="true" [(ngModel)]="info.coreVoltage"
                            valueTemplate="{value}V"></p-knob>
                        ASIC Voltage Requested
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card">
                <h5>Heat</h5>
                <div class="grid text-center">
                    <div class="col-6">
                        <p-knob [min]="20" [max]="maxTemp" [readonly]="true" [(ngModel)]="info.temp"
                            valueTemplate="{value}°C"
                            [valueColor]="info.temp >= 70 ? '#ff0000' : 'var(--primary-color, Black)'">
                        </p-knob>
                        ASIC Temperature

                        <span class="danger" *ngIf="info.temp >= 70">&nbsp;
                            Danger:
                            High Temperature</span>
                    </div>
                    <div class="col-6" *ngIf="info.vrTemp > 0">
                        <p-knob  [min]="20" [max]="145" [readonly]="true" [(ngModel)]="info.vrTemp"
                            valueTemplate="{value}C"
                            [valueColor]="info.vrTemp >= 105 ? '#ff0000' : 'var(--primary-color, Black)'"></p-knob>
                        Voltage Regulator Temperature

                        <span class="danger" *ngIf="info.vrTemp >= 105">&nbsp;
                            Danger:
                            High Temperature</span>
                    </div>
                    <div class="col-6">
                        <p-knob [min]="0" [max]="100" [readonly]="true" [(ngModel)]="info.fanspeed"
                            valueTemplate="{value}%"></p-knob>
                        Fan %
                    </div>
                    <div class="col-6">
                        <p-knob [min]="0" [max]="20000" [readonly]="true" [(ngModel)]="info.fanrpm"
                            valueTemplate="{value}"></p-knob>
                        Fan RPM
                    </div>
                    <!--
                    <div class="col-6" *ngIf="info.boardtemp1">
                        <p-knob [min]="20" [max]="75" [readonly]="true" [(ngModel)]="info.boardtemp1"
                            valueTemplate="{value}C"></p-knob>
                        Board Temp 1
                    </div>
                    <div class="col-6" *ngIf="info.boardtemp2">
                        <p-knob [min]="20" [max]="75" [readonly]="true" [(ngModel)]="info.boardtemp2"
                            valueTemplate="{value}C"></p-knob>
                        Board Temp 2
                    </div>
                    -->
                </div>
            </div>
        </div>



        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card">
                <h5>Performance</h5>
                <div class="grid text-center">
                    <div class="col-6">
                        <p-knob [min]="100" [max]="maxFrequency" [readonly]="true" [(ngModel)]="info.frequency"
                            valueTemplate="{value}"></p-knob>
                        ASIC Frequency (MHz)
                    </div>
                    <div class="col-6">
                        <p-knob [min]="0.9" [max]="1.8" [readonly]="true" [(ngModel)]="info.coreVoltageActual"
                            valueTemplate="{value}V"></p-knob>
                        ASIC Voltage Measured
                    </div>


                </div>

            </div>
        </div>




        <div class="col-12 lg:col-6">
            <div class="card" *ngIf="info$ | async as info; else loading">
                <h5>Pool Information ({{info.isUsingFallbackStratum ? 'Fallback' : 'Primary' }})</h5>
                <table>
                    <ng-container *ngIf="!info.isUsingFallbackStratum">
                        <tr>
                            <td>URL:</td>
                            <td style="word-break: break-all;">
                                <a style="text-decoration: underline;" [href]="(quickLink$ | async) || info.stratumURL" target="_blank">{{info.stratumURL}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Port:</td>
                            <td style="word-break: break-all;">{{info.stratumPort}}</td>
                        </tr>
                        <tr>
                            <td>User:</td>
                            <td style="word-break: break-all;">{{info.stratumUser}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="info.isUsingFallbackStratum">
                        <tr>
                            <td>URL:</td>
                            <td style="word-break: break-all;">
                                <a style="text-decoration: underline;" [href]="(fallbackQuickLink$ | async) || info.fallbackStratumURL" target="_blank">{{info.fallbackStratumURL}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Port:</td>
                            <td style="word-break: break-all;">{{info.fallbackStratumPort}}</td>
                        </tr>
                        <tr>
                            <td>User:</td>
                            <td style="word-break: break-all;">{{info.fallbackStratumUser}}</td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>


    </div>


</ng-container>
